html body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}
@media only screen and (max-width: 1000px) {
  .header {
    width: 100%;
    padding:0px !important;
    margin:0px;
    position: absolute;
    .adres{
      visibility: hidden;
      position: absolute;
    }
    #menuul{
      display: none;
    }
    .navbar{
      ul{
      position: absolute;
      visibility: visible;
      background: #3f3f3f;
      border: solid 1px #e4bb7a;
      width:80%;
      padding-top:0px;
      padding-left:0px;
      padding-bottom: 20px;
      margin-top:70px;
      margin-left:0px !important;
      }
      li{
        display: block !important;
        padding: 0px;
        padding-top:10px;
        padding-bottom: 10px;
        margin:0 px;
        margin-left:0px !important;
        text-align: center;
        &:hover{
          background-color: #e4bb7a;
        }
      }
      a{
        padding: 0px !important;
        margin: 0px;
      }
    }
    .pagelogo{
      background-image: url('../img/Steakville.png') !important;
      background-size: contain;
      width:200px !important;
    }
    .hamburger{
      visibility: visible !important;
      position: fixed;
      top:20px;
      left: 80%;
    }
    .main{
      clear:both;
      position: relative;
    }
    .home {
      clear:both;
      padding-top:50px !important;
    }
  }
}

  /* Header */
  .header{
    margin: 0px auto;
  .adres{
    text-align: left;
    background-color: #e4bb7a;
    padding:10px;
    padding-left: 10%;
    padding-right: 10%;
    width:80%;
  }
  .media{
    float: right;
  }
  .pagelogo{
    position: fixed;
    background-image: url('../img/Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px;
  }
  #menuul{
    display: block;
  }
  .navbar{
    background-color: #262626;
    color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:20px;
    padding-bottom: 20px;
    width:80%;
    height:50px;
    ul{
    list-style: none;
    float:right;
    }
    li{
    display: inline;
    list-style: none;
    color:#ffffff;
    }
    a{
    padding-left:50px;
    text-decoration: none;
    color:#ffffff;
    }
    a:hover{
    text-decoration: underline;
    }
  }
  .hamburger {
    position: absolute;
    visibility: hidden;
    background-image: url('../img/hamburger.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width:50px;
    height:50px;
  }
  }
  /* Home */
  .home{
    width:80%;
    padding-left: 10%;
    padding-right:10%;
    padding-top:200px;
    padding-bottom: 30px;
    background-color: #3f3f3f;
    color:#ffffff;
    text-align: center;
    img, button{
      max-width: 400px;
      display: block;
      margin: 0 auto;
    }
    button{
      background: #e4bb7a;
      color: #3f3f3f;
      padding-left:45px;
      padding-right:45px;
      padding-top:10px;
      padding-bottom:10px;
      border: none;
    }
  }