@import "colors";
html body {
  font-family: "Lucida Sans", sans-serif;
  margin: 0;
}

@media only screen and (max-width: 1000px) {
  .header {
    width: 100%;
    padding:0px !important;
    margin:0px;
    position: absolute;
    .adres{
      visibility: hidden;
      position: absolute;
    }
    #menuul{
      display: none;
      top:20px;
    }
    .navbar{
      ul{
      position: absolute;
      background: #3f3f3f;
      border: solid 1px $motiveColor;
      width:80%;
      padding: {
        top:0px;
        left:0px;
        bottom: 20px;
      }
      margin: {
        top:70px;
        left:0px !important;
      }
      }
      li{
        display: block !important;
        padding: {
          right: 0px;
          left: 0px;
          top: 10px;
          bottom: 10px;
        }
        margin:0 px;
        margin: {
          left:0px !important;
        }
        text-align: center;
        &:hover{
          background-color: $motiveColor;
        }
      }
      a{
        padding: 0px !important;
        margin: 0px;
      }
    }
    .pagelogo{
      background: {
        image: url('../img/Steakville.png') !important;
        size: contain;
      }
      width:200px !important;
      padding: {
        bottom:20;
      }
      margin: {
        top: 0;
      }
    }
    .hamburger{
      visibility: visible !important;
      position: fixed;
      top:20px;
      left: 80%;
    }
    .main{
      clear:both;
      position: relative;
    }
    .home {
      clear:both;
      padding-top:50px !important;
    }
  }
}

  /* Header */
  .header{
      margin: 0px auto;
    .adres{
      text-align: left;
      background-color: $motiveColor;
      padding: { 
        top: 10px;
        bottom: 10px;
        left: 10%;
        right: 10%;
      }
      width:80%;
    }
    .media{
      float: right;
    }
    .pagelogo{
      background: {
        image: url('../img/Logo.png');
        repeat: no-repeat;
        position: center;
      }
      height: 50px;
      width: 100px;
      margin: {
        top: -20px;
      }
    }
    #menuul{
      display: block;
      position: absolute;
      top: 60px;
      right:10%;
    }
    .navbar{
      background-color: #262626;
      color: #ffffff;
      padding: {
        left: 10%;
        right: 10%;
        top:20px;
        bottom: 20px;
      }
      width:80%;
      height:50px;
      ul{
      list-style: none;
      float:right;
      }
      li{
      display: inline;
      list-style: none;
      color:#ffffff;
      }
      a{
      padding-left:50px;
      text-decoration: none;
      color:#ffffff;
      }
      a:hover{
      text-decoration: underline;
      }
    }
    .hamburger {
      position: absolute;
      visibility: hidden;
      background: {
        image: url('../img/hamburger.png');
        position: center;
        repeat: no-repeat;
        size: 100%;
      }
      width:50px;
      height:50px;
    }
  }
  /* Home */
  .home{
    width:80%;
    padding: {
      left: 10%;
      right:10%;
      top:200px;
      bottom: 30px;
    }
    background-color: #3f3f3f;
    color:#ffffff;
    text-align: center;
    img, button{
      max-width: 400px;
      display: block;
      margin: 0 auto;
    }
    button{
      background: $motiveColor;
      color: #3f3f3f;
      padding: {
        left:45px;
        right:45px;
        top:10px;
        bottom:10px;
      }
      border: none;
    }
  }