@import url("https://fonts.googleapis.com/css?ily=Average|Average+Sans|Montserrat&display=swap");
@font-face {
  font-family: WildYoth;
  src: url("WildYouth.otf") format("opentype"); }
@font-face {
  font-family: Minion;
  src: url("Minion.ttf") format("opentype"); }
html body {
  font-family: "Average Sans", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

header {
  display: grid;
  grid-template-rows: 30px 50px minmax(calc(100vh - 80px), auto);
  grid-template-columns: 10% 20% 60% 10%;
  padding: 0px;
  margin: 0px;
  min-height: auto;
  background-color: #262626; }
  header .adres {
    grid-column: 1/5;
    grid-row: 1;
    display: flex;
    background-color: #e4bb7a; }
    header .adres img {
      margin: auto auto auto 10%; }
    header .adres p {
      margin: auto auto auto 1em; }
  header .media {
    margin: auto 10% auto auto; }
  header .menu {
    grid-column: 3/4;
    grid-row: 2; }
    header .menu .navbar {
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      margin: 14px;
      font-family: "Montserrat";
      font-size: 15px;
      font-line-height: 30px; }
      header .menu .navbar a {
        text-transform: uppercase;
        color: #ffffff; }
        header .menu .navbar a:link {
          text-decoration: none; }
        header .menu .navbar a:hover {
          text-decoration: underline; }
  header .display {
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 50px);
    top: 50px;
    left: 0px;
    background-color: #262626; }
    header .display .navbar {
      flex-direction: column; }
      header .display .navbar a {
        font-size: 1.3em;
        text-align: center;
        align-content: center; }
        header .display .navbar a:hover {
          background-color: #c2c2c2;
          color: #262626;
          text-decoration: underline; }
  header .logo {
    grid-column: 2/3;
    grid-row: 2;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100px; }
  header .hamburger {
    visibility: hidden; }
  header .home {
    grid-row: 3;
    grid-column: 1/5;
    background-color: #3f3f3f;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around; }
    header .home h1 {
      font-size: 76px;
      padding: 0;
      margin: 0 auto; }
    header .home h2 {
      font-family: "WildYoth";
      font-size: 50px;
      color: #e4bb7a;
      padding: 0;
      margin: 0 auto;
        margin-top: 1em; }
    header .home h4 {
      padding: 0;
      margin: 0 auto;
      font-size: 16px; }
    header .home button {
      display: block;
      padding: 10px 45px;
      border: none;
      font-family: "Montserrat";
      font-size: 15px;
      text-transform: uppercase;
      margin: 0 auto;
      background: #e4bb7a;
      color: #3f3f3f; }
      header .home button:hover {
        background-color: #a17b3d; }
    header .home img {
      margin: 0 auto;
      padding: 2em; }

main section {
  padding: 2em; }
main p {
  padding: 1.5em 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: left; }
main .home {
  background-color: #3f3f3f;
  color: #ffffff;
  text-align: center;
  padding: 20vh 5% 10vh 5%; }
  main .home h1 {
    font-size: 76px; }
  main .home h2 {
    font-family: "WildYoth";
    font-size: 50px;
    color: #e4bb7a; }
  main .home h4 {
    font-size: 16px; }
  main .home img {
    max-width: 400px;
    display: block;
    margin: 0 auto; }
  main .home button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    background: #e4bb7a;
    color: #3f3f3f; }
    main .home button:hover {
      background-color: #a17b3d; }
main .midNav {
  background-color: #fdfeff; }
  main .midNav img {
    display: block;
    margin: 1em auto 0px auto; }
  main .midNav .midNavigation {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 2em 0;
    justify-content: space-around;
    font-family: "Montserrat";
    font-size: 15px;
    font-line-height: 30px;
    text-transform: uppercase; }
    main .midNav .midNavigation a {
      color: #000000; }
      main .midNav .midNavigation a:link {
        text-decoration: none; }
      main .midNav .midNavigation a:hover {
        text-decoration: underline; }
main .rec {
  background-color: #3f3f3f;
  color: white;
  padding: 5em 50% 5em 20%;
  text-align: center; }
  main .rec h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .rec h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .rec button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    color: #3f3f3f;
    background-color: #e4bb7a; }
    main .rec button:hover {
      background-color: #a17b3d; }
main .midMedia {
  background-color: #fdfeff; }
  main .midMedia img {
    display: block;
    margin: 2em auto; }
main .food {
  background-color: #cdcdcd;
  padding-bottom: 2em; }
  main .food .foodnav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    text-transform: uppercase;
    align-items: flex-end;
    padding: 2em 0;
    font-family: "Montserrat";
    font-size: 15px;
    font-line-height: 30px; }
    main .food .foodnav a {
      font-size: 16px;
      color: #000000; }
      main .food .foodnav a:link {
        text-decoration: none; }
      main .food .foodnav a:hover {
        text-decoration: underline; }
  main .food .organicInfo {
    max-width: 600px;
    display: block;
    margin: 4em auto;
    padding: 3em;
    background-color: #fdfeff;
    border: 1px solid black;
    outline: #fdfeff solid 1em;
    marign: 2em auto;
    text-align: center;
    text-align: center; }
    main .food .organicInfo h2 {
      text-transform: uppercase;
      margin: 0px;
      font-family: "Montserrat";
      font-size: 36px;
      letter-spacing: 3px; }
    main .food .organicInfo h3 {
      margin: 0px;
      color: #e4bb7a;
      font-family: "WildYoth";
      font-size: 45px; }
    main .food .organicInfo p {
      max-width: 80%;
      margin: 1em auto;
      text-align: center; }
    main .food .organicInfo button {
      display: block;
      padding: 10px 45px;
      border: none;
      font-family: "Montserrat";
      font-size: 15px;
      text-transform: uppercase;
      background-color: #fdfeff;
      margin: 0 auto;
      box-shadow: none;
      border: solid 1px #3f3f3f; }
      main .food .organicInfo button:hover {
        background-color: #a17b3d; }
      main .food .organicInfo button:hover {
        background-color: #dddddd; }
main .about {
  text-align: center;
  background-color: #3f3f3f;
  color: white;
  margin: 0 auto; }
  main .about h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .about h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .about button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 auto; }
    main .about button:hover {
      background-color: #a17b3d; }
    main .about button:hover {
      background-color: #dddddd; }
main .quote {
  background-color: #262626;
  color: white;
  text-align: center;
  padding: 2em;
  font-size: 25px;
  font-family: "Average"; }
  main .quote .wild {
    color: #e4bb7a;
    font-family: "WildYoth"; }
  main .quote p {
    margin: 0 auto;
    text-align: center;
    max-width: 95%; }
main .hamMenu {
  text-align: center;
  padding: 3em;
  background-color: #fdfeff; }
  main .hamMenu h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .hamMenu h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .hamMenu .hamItem {
    border: 1px solid #e4bb7a;
    padding: 1em;
    text-align: left;
    max-width: 500px;
    height: 300px;
    margin: 0 auto; }
    main .hamMenu .hamItem h4 {
      text-transform: uppercase;
      font-size: 16px;
      font-family: "Montserrat"; }
    main .hamMenu .hamItem h5 {
      color: #e4bb7a;
      font-size: 14px; }
    main .hamMenu .hamItem p {
      width: 250px; }
    main .hamMenu .hamItem .price {
      font-size: 24px;
      font-family: "Montserrat";
      font-weight: bold;
      position: relative;
      top: -100px; }
    main .hamMenu .hamItem img {
      position: relative;
      top: -120px; }
  main .hamMenu .right h4 {
    margin-left: 50px; }
  main .hamMenu .right h5 {
    margin-left: 50px; }
  main .hamMenu .right p {
    margin-left: 50px; }
  main .hamMenu .right .price {
    margin-left: 50px; }
  main .hamMenu .right img {
    left: 280px; }
  main .hamMenu .left h4 {
    margin-left: 50px; }
  main .hamMenu .left h5 {
    margin-left: 50px; }
  main .hamMenu .left p {
    margin-left: 50px; }
  main .hamMenu .left .price {
    margin-left: 50px; }
  main .hamMenu .left img {
    left: 280px; }
main .opening {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  padding: 3em 10%;
  background-color: #262626;
  color: #fdfeff; }
  main .opening h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .opening h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .opening .title {
    grid-column: 1/3;
    grid-row: 1;
    padding: 3em; }
  main .opening .photo {
    grid-column: 1;
    grid-row: 2;
    background-image: url("../img/opening.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  main .opening .openingContent {
    grid-column: 2;
    grid-row: 2;
    background-image: url("../img/openingBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #262626;
    padding: 2em; }
    main .opening .openingContent .border {
      border: 1px solid #262626;
      margin: 2em auto;
        margin-top: 5em;
      padding: 2em;
      background-image: radial-gradient(white 30%, rgba(255, 0, 0, 0)); }
main .team {
  text-align: center;
  padding: 3em;
  background-color: #3f3f3f;
  color: #fdfeff; }
  main .team h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .team h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .team p {
    color: #dddddd;
    font-size: 15px;
    max-width: 800px;
    margin: 0 auto;
    padding: 2em 0; }
  main .team .teamWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto; }
    main .team .teamWrapper .item {
      max-width: 50%;
      min-width: 300px;
      height: auto;
      padding: 1em 0.5em; }
      main .team .teamWrapper .item .photo {
        width: 100%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      main .team .teamWrapper .item span {
        display: block;
        padding: 0.5em; }
      main .team .teamWrapper .item .name {
        margin-top: 1em;
        color: #fdfeff;
        font-size: 16px;
        font-family: "Montserrat";
        font-weight: bold;
        text-transform: uppercase; }
      main .team .teamWrapper .item .job {
        color: #e4bb7a; }
main .reservation {
  text-align: center;
  padding: 3em;
  background-color: #262626;
  color: #fdfeff; }
  main .reservation h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .reservation h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .reservation form {
    display: flex;
    max-width: 800px;
    margin: 1em auto;
    justify-content: center;
    flex-wrap: wrap; }
    main .reservation form input {
      padding: 1em;
      margin: 1em;
      border: solid 1px #e4bb7a;
      background-color: #000000;
      color: white; }
  main .reservation button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    margin: 1em auto; }
    main .reservation button:hover {
      background-color: #a17b3d; }
    main .reservation button:hover {
      background-color: #e4bb7a; }
main .reservation2 {
  text-align: center;
  padding: 3em;
  background-color: #ffffff; }
  main .reservation2 h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .reservation2 h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .reservation2 p {
    font-size: 15px;
    max-width: 800px;
    margin: 1em auto;
    padding: 2em 0;
    line-height: 26px; }
  main .reservation2 button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    margin: 1em auto; }
    main .reservation2 button:hover {
      background-color: #a17b3d; }
    main .reservation2 button:hover {
      background-color: #e4bb7a; }
main .opinions {
  text-align: center;
  padding: 3em;
  background-color: #262626;
  color: white; }
  main .opinions h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .opinions h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .opinions p {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em; }
  main .opinions span {
    display: inline-block;
    padding: 0.5em; }
  main .opinions .author {
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bold; }
  main .opinions .desc {
    color: #e4bb7a;
    display: block;
    font-family: "Montserrat";
    font-size: 15px; }
main .newsletter {
  text-align: center;
  padding: 3em;
  background-color: #fbfbfb;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto; }
  main .newsletter h2 {
    text-transform: uppercase;
    margin: 0px;
    font-family: "Montserrat";
    font-size: 36px;
    letter-spacing: 3px; }
  main .newsletter h3 {
    margin: 0px;
    color: #e4bb7a;
    font-family: "WildYoth";
    font-size: 45px; }
  main .newsletter p {
    grid-row: 1;
    grid-column: 1/3;
    margin: 0 auto; }
  main .newsletter button {
    display: block;
    padding: 10px 45px;
    border: none;
    font-family: "Montserrat";
    font-size: 15px;
    text-transform: uppercase;
    grid-row: 2;
    margin: 1em;
    display: inline;
    max-width: 200px;
    background-color: #e4bb7a; }
    main .newsletter button:hover {
      background-color: #a17b3d; }
    main .newsletter button:hover {
      background-color: #3f3f3f;
      color: #e4bb7a; }
  main .newsletter form {
    grid-row: 2;
    margin: auto 1em auto auto; }
    main .newsletter form input {
      font-size: 15px;
      padding: 10px; }

@media only screen and (max-width: 1000px) {
  header {
    grid-template-rows: 0px 3em;
    grid-template-columns: 10% 70% 15% 5%;
    height: 100vh; }
    header .adres {
      display: none; }
    header .menu {
      display: none; }
    header .logo {
      grid-column: 2/3;
      grid-row: 1;
      background-image: url("../img/Steakville.png");
      background-size: contain;
      width: 15em;
      height: 2.5em;
      margin: 0.25em; }
    header .hamburger {
      grid-column: 3;
      grid-row: 2;
      visibility: visible;
      background-image: url("../img/hamburger.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 3em;
      height: 3em; }
    header .home h1 {
      font-size: 50px; }
    header .home h4 {
      padding: 2em; }

  main .midNav {
    display: none; }
  main .midMedia {
    display: none; }
  main .quote {
    display: none; }
  main .rec {
    background-color: #262626;
    padding: 2em; }
    main .rec h2, main .rec h3 {
      text-align: center; }
    main .rec button {
      margin: 0 auto; }
  main .food {
    margin: 0; }
    main .food .foodnav {
      display: none; }
    main .food .organicInfo {
      outline: none;
      border: none;
      background-color: #cdcdcd;
      margin: 0px auto; }
  main .about {
    padding: 2em; }
    main .about button {
      margin: 0 auto; }
  main .hamMenu .hamItem {
    text-align: center;
    height: auto;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2em; }
    main .hamMenu .hamItem h4 {
      margin: 0 auto;
      padding: 1em; }
    main .hamMenu .hamItem h5 {
      margin: 0 auto; }
    main .hamMenu .hamItem .price {
      margin: 0 auto;
      position: initial; }
    main .hamMenu .hamItem p {
      width: 80%;
      text-align: center;
      margin: 0 auto; }
    main .hamMenu .hamItem img {
      display: block;
      margin: 0 auto;
      position: initial;
      padding: 1em; }
  main .reservation form {
    max-width: initial; }
  main .reservation2 {
    display: none; }
  main .opening {
    grid-template-columns: 0px auto; }
    main .opening .title {
      padding: 1em; }
  main .opinions {
    display: none; }
  main .newsletter p {
    text-align: center;
    padding: 0; }
  main .newsletter button {
    grid-row: 3;
    grid-column: 1/3;
    margin: 1em auto 0 auto; }
  main .newsletter form {
    grid-row: 2;
    grid-column: 1/3;
    margin: 1em auto; } }

/*# sourceMappingURL=style.css.map */
